@import "tailwindcss";

@theme {
    --text-md:16px;
    --breakpoint-featured-text: 517px;
    --breakpoint-tab: 708px;
    --breakpoint-six: 600px;
    --font-spartan: "Spartan", sans-serif;
    --font-helvetica: "Helvetica", sans-serif;
}

/* color theme */
/* bg-[#222] */
/* bg-[#fffff] */
/* bg-[#ffc107] */

@media(max-width:708px) {
    ul {
        display: none;
    }
}

@font-face {
    font-family: 'Spartan';
    src: url('/assets/fonts/Spartan/spartan-light-webfont.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/assets/fonts/Spartan/spartan-regular-webfont.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/assets/fonts/Spartan/spartan-bold-webfont.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica/HelveticaNowText-RegIta.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica/HelveticaNowText-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/fonts/Helvetica/HelveticaNowText-Bold.woff2');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

* {

    box-sizing: border-box;
}



body {
    width: 100%;

}

header {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    width: 100%;
}
/* Landing Page */
@media(max-width:708px){
    #nav{
        z-index: 8;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #2B2C2D;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #nav.active{
        right: 0px;
    }
    #nav li{
        margin-bottom: 25px;
    }
    #close{
    position: absolute;
    top: 30px;
    right: 20px;
    color: #e8f6ea;
    font-size: 24px;
}
section#hero {
    height: 70vh;
    padding: 0 80px;
    background-position: right 200px;
}
/* sproduct page */
#details-product{
    flex-direction: column;
}
.single-pro-image{
    width: 90%;
    margin: auto;
}

.pro-des{
    width: 90%;
    margin: auto;
}
}


li a {
    font-size: 16px;
    color: white;
    transition: 0.3s ease;
    position: relative;
}
li .bar {
    font-size: 16px;
    color: white;
    transition: 0.3s ease;
    position: relative;
}

li a:hover,
li a.active {
    color: #FFC107;

}

li a.active::after,
li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #FFC107;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
#btn-latest-product:hover{
    cursor: pointer;
}
.des {
    text-align: left;
    padding: 10px 0;
    position: relative;
}

.des span {
    color: #606063;
    font-size: 12px;

}

.des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.des .star i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.des h4 {
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;

}

.des .cart i {
    font-weight: 600;
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #2B2C2D;
    border: 1px solid #cce7d0;
    padding-left: 9px;

}
.pro-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));    
    gap: 30px;
    place-items: center;
    justify-content: center;
    width: 90%;
    min-height: 350px;
    height: auto;
    margin: auto;
}
/* Shop Page */
#pagination{
    text-align: center;
    justify-content: center;
    place-content: center;
}
#pagination a{
    text-decoration: none;
    background-color: #2B2C2D;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
    font-size: 16px;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
@media(max-width:708px){

}
/* sproduct */
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.inputquan:focus{
    outline: none;
}#inputopt:focus{
    outline: none;
}